.pagina {
    display: inline;
    font-size: 25px;
    color: #fff;
}

.button_pag1 {
    display: inline;
    margin: 30px;
    margin-bottom: 40px;
    padding: 6px 15px;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

.button_pag2 {
    display: inline;
    margin: 30px;
    margin-bottom: 40px;
    padding: 6px 15px;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    cursor: pointer;
}